        body{
            margin: 0;
            display: flex;
            flex-direction: column;
            background: #222;
        }
        header{
            height: 70px;
        }
        #logo {
            height: 70px;
            width: 300px;
            margin-left: 10px;
        }
        #menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #000;
            height: 50px;
            width: 50px;
            border-radius: 10px;
        }
        #menu:hover {
            background: #111;
            cursor: pointer;
        }
        #l1, #l2, #l3 {
            rotate: 90deg;
            width: 3px;
            height: 30px;
            background: white;
        }
        #l1{
            margin-top: 9px;
        }
        #l3 {
            margin-bottom: 9px;
        }
        #menubox {
            margin-left: 10px;
            width: 150px;
            height: 100px;
            background: #111;
            display: flex;
            flex-direction: column;
            animation: none;
            opacity: 0%;
        }
        #b1, #b2, #b3 {
            padding: 5px;
            height: 32px;
            color: white;
        }
        #b1:hover, #b2:hover, #b3:hover {
            background: gold;
            cursor: pointer;
            color: black;
        }
        #logo h2 {
            font-family: impact;
            color: white;
            font-size: 28px;
            text-shadow: 2px 2px 3px black;
            
        }
        #box{
            display: flex;
            align-items: center;
            box-shadow: 2px 2px 4px black;
            justify-content: center;
            border: 1px solid black;
            width: 60px;
            height: 35px;
            background: red;
            border-radius: 10px;
        }
        #play {
            margin-left: 10px;
            border-top: 10px solid #0000;
            border-right: 10px solid #0000;
            border-bottom: 10px solid #0000;
            border-left: 10px solid white;
        }
        #logo{
            width: 230px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        video {
            margin-top: 10px;
            border-radius: 10px;
            margin-left: 50px;
            width: 600px;
            height: 300px;
            background: #111;
        }
        #player {
            display: flex;
            flex-direction: space-between;
        }
        #playlist {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-left: 50px;
            margin-top: 10px;
            border: 2px solid white;
            border-radius: 10px;
            width: 200px;
            height: 200px;
            padding: 5px;
            background: #333;
        }
        #vidtitle{
            margin-left: 50px;
            font-size: 26px;
            color: white;
            
        }
        #container {
            width: 600px;
            height: fit-content;
            background: #333;
            margin-left: 50px;
        }
        #container p{
            font-size: 18px;
            padding: 5px;
        }
        #form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            margin-left: 50px;
            border-radius: 10px;
            box-shadow: 2px 2px 6px black;
            width: 600px;
            height: 400px;
            background: #333;
        }
        #form input{
            margin-left: 10px;
            margin-top: 20px;
        }
        #file {
            border: 2px solid white;
            background: #111;
            color: white;
            border-radius: 10px;
            padding: 3px;
            width: 400px;
        }
        #filename{
            border: 2px solid white;
            background: #111;
            color: white;
            border-radius: 10px;
            padding: 5px;
            width: 400px;
        }
        #desc{
            color: white;
        }
        #description {
            margin-left: 10px;
            margin-top: 20px;
            border: 2px solid white;
            background: #111;
            color: white;
            border-radius: 10px;
            padding: 5px;
            height: 200px;
            width: 400px;
        }
        #uploadvideo {
            margin-top: 10px;
            width: 100px;
            height: 30px;
            border: none;
            box-shadow: 2px 2px 4px black;
            border-radius: 10px;
            background: lightgreen;
        }
        #uploadvideo:hover {
            cursor: pointer;
            box-shadow: none;
        }
        #success {
            color: lightgreen;
            animation: blink 1s infinite;
            display: none;
        }
        .getlist {
            margin-top: 10px;
            padding: 3px;
            height: fit-content;
            width: fit-content;
            background: #000;
            color: white;
            border-radius: 10px;
        }
        .getlist:hover {
            cursor: pointer;
            background: white;
            color: black;
        }

        @keyframes blink {
            0% { opacity: 0%; }
            50% { opacity: 100%; }
            100% { opacity: 0%; }
        }

        @keyframes show {
            0% { opacity: 0%; }
            100% { opacity: 100%; }
        }

        